.Grid {
    height: 90vh;
    width: 90vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

.GridColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vh;
}