.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    width: 7vh; 
    height: 7vh;
    border: solid 0.25px black;
}

.input {
    width: 90%;
    height: 90%; 
    border: none; 
    text-align: center;
}

.input:focus {
    outline: none;
}
