.Grid {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.GridColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ButtonGroup {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.Button {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid white;
}

.Button:hover {
  cursor: pointer;
  background-color: red;
  transition: 0.3s;
}

.DropDown {
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 200px;
}
